/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESETS */
* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --dark-bg: #160A45;
    --yellow: rgb(235, 206, 79);
    --purple: rgb(121, 13, 148);
    --pink: rgb(236, 73, 182);
    --orange: orange;
}

:root {
    --slider-connect-bg: var(--orange);
    --slider-tooltip-bg: var(--orange);
    --slider-handle-ring-color: var(--orange);
  }

/* GLOBAL CLASSES */
.purple {
    background-color: var(--purple);
}
  
.pink {
    background-color: var(--pink);
}

.orange {
    background-color: var(--orange);
}

.yellow {
    background-color: var(--yellow);
}