/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* RESETS */
* {
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --dark-bg: #160A45;
}